<p>
  In this excercise you will be identifying scales.
</p>

<app-collapsible>
  <h2>Scales</h2>
  <p>
    Currently, this excercise supports four types of scales.
  </p>
  <ul> 
    <li><b>Diatonic Modes</b>
      <ul>
        <li>Ionion</li>
        <li>Dorian</li>
        <li>Phrygian</li>
        <li>Lydian</li>
        <li>Mixolydian</li>
        <li>Aeolian</li>
        <li>Locrian</li>
      </ul>
    </li>
    <li><b>Altered Minor Scales</b>
    <ul>
      <li>Melodic Minor</li>
      <li>Harmonic Minor</li>
    </ul>
  </li>
  <li><b>Jazz/Bebop Scales</b>
    <ul>
      <li>Aeolian Bules</li>
      <li>Dorian Bules</li>
      <li>Major Bebop</li>
      <li>Mixolydian Bebop</li>
    </ul>
  </li>
  <li><b>Messian Scales</b>
    <ul>
      <li>Whole Tone</li>
      <li>Whole Tone-Half Tone</li>
      <li>Half Tone-Whole Tone</li>
    </ul>
  </li>
  </ul>
</app-collapsible>
